<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.more_difficulties/MD_Difficulty04.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{81,87}</string>
			<key>spriteSourceSize</key>
			<string>{81,87}</string>
			<key>textureRect</key>
			<string>{{0,0},{81,87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty04Small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{89,0},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty04Small_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{151,0},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty04_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{81,87}</string>
			<key>spriteSourceSize</key>
			<string>{81,87}</string>
			<key>textureRect</key>
			<string>{{89,62},{81,87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty07.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{69,86}</string>
			<key>spriteSourceSize</key>
			<string>{69,86}</string>
			<key>textureRect</key>
			<string>{{178,62},{69,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty07Small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{0,83},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty07Small_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{62,145},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty07_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{69,86}</string>
			<key>spriteSourceSize</key>
			<string>{69,86}</string>
			<key>textureRect</key>
			<string>{{124,150},{69,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty09.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,86}</string>
			<key>spriteSourceSize</key>
			<string>{68,86}</string>
			<key>textureRect</key>
			<string>{{0,207},{68,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty09Small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{88,221},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty09Small_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{150,221},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty09_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,86}</string>
			<key>spriteSourceSize</key>
			<string>{68,86}</string>
			<key>textureRect</key>
			<string>{{0,277},{68,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_DifficultyCP.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,86}</string>
			<key>spriteSourceSize</key>
			<string>{60,86}</string>
			<key>textureRect</key>
			<string>{{88,283},{60,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_LegendaryGlow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{176,283},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_MythicGlow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{88,345},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.more_difficulties/MD_DifficultySheet-hd.png</string>
		<key>size</key>
		<string>{247,405}</string>
		<key>textureFileName</key>
		<string>uproxide.more_difficulties/MD_DifficultySheet-hd.png</string>
	</dict>
</dict>
</plist>