<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.more_difficulties/MD_Difficulty04.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{163,169}</string>
			<key>spriteSourceSize</key>
			<string>{163,174}</string>
			<key>textureRect</key>
			<string>{{0,0},{163,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty04Small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{171,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty04Small_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{293,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty04_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{163,169}</string>
			<key>spriteSourceSize</key>
			<string>{163,174}</string>
			<key>textureRect</key>
			<string>{{171,122},{163,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty07.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{139,170}</string>
			<key>spriteSourceSize</key>
			<string>{139,173}</string>
			<key>textureRect</key>
			<string>{{342,122},{139,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty07Small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{0,165},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty07Small_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{342,263},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty07_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{139,170}</string>
			<key>spriteSourceSize</key>
			<string>{139,173}</string>
			<key>textureRect</key>
			<string>{{122,287},{139,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty09.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{136,169}</string>
			<key>spriteSourceSize</key>
			<string>{136,172}</string>
			<key>textureRect</key>
			<string>{{294,385},{136,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty09Small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{0,287},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty09Small_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{0,409},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_Difficulty09_Legacy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{136,169}</string>
			<key>spriteSourceSize</key>
			<string>{136,172}</string>
			<key>textureRect</key>
			<string>{{122,428},{136,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_DifficultyCP.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{120,169}</string>
			<key>spriteSourceSize</key>
			<string>{120,173}</string>
			<key>textureRect</key>
			<string>{{293,523},{120,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.more_difficulties/MD_LegendaryGlow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,121}</string>
			<key>spriteSourceSize</key>
			<string>{121,121}</string>
			<key>textureRect</key>
			<string>{{0,566},{121,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.more_difficulties/MD_MythicGlow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,121}</string>
			<key>spriteSourceSize</key>
			<string>{121,121}</string>
			<key>textureRect</key>
			<string>{{123,566},{121,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.more_difficulties/MD_DifficultySheet-uhd.png</string>
		<key>size</key>
		<string>{512,687}</string>
		<key>textureFileName</key>
		<string>uproxide.more_difficulties/MD_DifficultySheet-uhd.png</string>
	</dict>
</dict>
</plist>